header {
    background: rgba(121, 121, 133, 0.78);
    color: #fff;
    
}
body
{
     background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
    background-attachment:local;
  
}
.container-logo > .img-responsive{
    margin: 0 auto;
}
label
{
text-align: left;
}
form
{
    margin: auto;
    background: rgba(221, 209, 207, 0.021);
    width: 50%;
    max-width: 500px;
    padding: 25px;
    position:absolute;
    top: 150px;
    left: 250px;
    
    border: 1px solid rgba(0, 0, 0, 0.12);
}
section {
    background: rgba(233, 233, 233, 0.3);
    text-align: center;
    height: 677px;
    background-position: center;
}

input
{
display: block;
width: 100%;
margin: 20px 0;
font-size: 15px;
padding: 10px;
}
@media(max-width:768px)
{
    form
    {
        position:absolute;
        top: 250px;
        left: 50px;    
       width: 75%; 
    }
}
@media(max-width:480px)
{
    form
    {
        position:absolute;
        top: 100px;
        left: 10px;    
       width: 92%; 
    }
}
footer {
    background: rgba(85, 82, 143, 0.78);
}
h1
{
    text-align: center;
}
h2
{
    text-align: center;
    color:black;
}
container .ingr
{
    height: 500px;
}